# ----------------------------------------------------------------------------
# CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ----------------------------------------------------------------------------

* @mdn/engineering

# Content
/files/     @mdn/content-team
/files/de/  @mdn/de-content

# Translation guide
/docs/      @mdn/content-team
/docs/de/   @mdn/de-content

# Issue templates
/.github/ISSUE_TEMPLATE/page-report-de.yml @mdn/de-content

# Miscellaneous
/.github/            @mdn/engineering
/.github/CODEOWNERS  @mdn/engineering
/*                   @mdn/engineering
/*.md                @mdn/de-content

# Reset until https://github.com/prettier/prettier/issues/11828 is fixed
/.prettierignore
/SECURITY.md @mdn/engineering
