name: Markdownlint (All files)

on:
  pull_request:
    branches:
      - main
    paths:
      - .nvmrc
      - .markdownlint-cli2.jsonc
      - "**/.markdownlint.jsonc"
      - package.json
      - package-lock.json
      - .github/workflows/markdown-lint.yml
      - .github/workflows/markdownlint-problem-matcher.json

permissions: {}

jobs:
  docs:
    # do not run on forks
    if: github.repository == 'mdn/translated-content-de'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          check-latest: true
          cache: npm

      - name: Install
        run: npm ci
        env:
          # https://github.com/microsoft/vscode-ripgrep#github-api-limit-note
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint markdown files
        run: |
          echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
          npm run lint:md
