name: "PR Needs Rebase"

on:
  push:
  pull_request_target:
    types: [synchronize]

permissions:
  pull-requests: write

jobs:
  label-rebase-needed:
    # do not run on PRs in forks
    if: github.repository == 'mdn/translated-content-de'
    uses: mdn/workflows/.github/workflows/pr-rebase-needed.yml@main
    with:
      target-repo: "mdn/translated-content-de"
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
