name: Sync Translated Content

on:
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        required: false
        default: ""
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 1 * * *"

permissions:
  contents: read

jobs:
  build:
    if: github.repository == 'mdn/translated-content-de'
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        lang:
          - de

    steps:
      - name: Checkout (yari)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/yari
          path: mdn/yari
          ref: test-de
          persist-credentials: false

      - name: Checkout (content)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/content
          path: mdn/content
          persist-credentials: false

      - name: Checkout (translated-content-de)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: mdn/translated-content-de
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: "mdn/yari/.nvmrc"
          package-manager-cache: false

      - name: Install (yari)
        working-directory: ${{ github.workspace }}/mdn/yari
        run: npm ci
        env:
          # https://github.com/microsoft/vscode-ripgrep#github-api-limit-note
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync translated content
        env:
          CONTENT_ROOT: ${{ github.workspace }}/mdn/content/files
          CONTENT_TRANSLATED_ROOT: ${{ github.workspace }}/mdn/translated-content-de/files
        working-directory: ${{ github.workspace }}/mdn/yari
        run: |
          set -eo pipefail

          npm run build:prepare
          npm run tool sync-translated-content ${{ matrix.lang }}

      - name: Ignore conflicting/orphaned pages
        working-directory: ${{ github.workspace }}/mdn/translated-content-de
        run: |
          git checkout -- files/de/_redirects.txt
          rm -rf files/de/{conflicting,orphaned}

      - name: Gather related upstream commits
        id: gather
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ${{ github.workspace }}/mdn/translated-content-de
        run: |
          set -eo pipefail

          # get upstream head sha
          UPSTREAM_HEAD_SHA=$(cd "${{ github.workspace }}/mdn/content" && git rev-parse HEAD)
          echo "upstream head sha: ${UPSTREAM_HEAD_SHA}"
          # get original path of moved files
          MOVED_FILES=$(git diff --cached --name-status --diff-filter=R | cut -f2 | sed "s|files/${{ matrix.lang }}|files/en-us|")
          FILE_COMMIT_URLS=""
          while read -r MOVED_FILE; do
            # gather related upstream commits
            COMMIT_URL=$(gh api -XGET repos/mdn/content/commits -F path="${MOVED_FILE}" -F per_page=1 -F sha="${UPSTREAM_HEAD_SHA}" --jq '.[0].html_url')
            if [ -n "${COMMIT_URL}" ]; then
              FILE_COMMIT_URLS+="- ${COMMIT_URL}\n"
            fi
          done <<< "${MOVED_FILES}"

          FILE_COMMIT_URLS=$(echo -e "${FILE_COMMIT_URLS}" | grep -v '^$' | sort | uniq)
          echo -e "commit urls:\n${FILE_COMMIT_URLS}"

          # set multiline string to env
          # https://docs.github.com/actions/using-workflows/workflow-commands-for-github-actions#multiline-strings
          # as the commit urls would not contain 'EOF', we can use it as a delimiter
          {
            echo 'COMMIT_URLS<<EOF'
            echo "${FILE_COMMIT_URLS}"
            echo EOF
          } >> "$GITHUB_OUTPUT"

      - name: Create PR with sync for ${{ matrix.lang }}
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          path: mdn/translated-content-de
          commit-message: "${{ matrix.lang }}: sync translated content"
          branch: content-sync-${{ matrix.lang }}
          title: "[${{ matrix.lang }}] sync translated content"
          author: mdn-bot <108879845+mdn-bot@users.noreply.github.com>
          committer: mdn-bot <108879845+mdn-bot@users.noreply.github.com>
          body: "Yari generated sync. Related upstream commits:


            ${{ steps.gather.outputs.COMMIT_URLS }}"
          labels: |
            automated pr
          token: ${{ secrets.AUTOMERGE_TOKEN }}
